<ion-toolbar>
  <ion-buttons slot="start">
    @if (showBack()) {
      <ion-button fill="clear" (click)="backClick.emit()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    }
  </ion-buttons>
  <ion-title>{{ title() }}</ion-title>
  <ion-buttons slot="end">
    @if (showClose()) {
      <button class="close-button" app-button (click)="closeClick.emit()">
        <app-icon name="close"></app-icon>
      </button>
    }

    <ng-content></ng-content>
  </ion-buttons>
</ion-toolbar>
