.search-bar {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 52px;
  padding: 8px 16px 0;
  color: rgb(255 255 245 / 30%);

  .search-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  app-icon {
    flex-shrink: 0;
  }

  span {
    font-size: 14px;
  }
}
