<div class="account-card">
  <div class="account-card__header">
    <div class="account-card__title">
      <span>Trading</span>
      <span class="account-card__currency">USD</span>
    </div>

    <div class="account-card__segment">EQ, CFD</div>
  </div>

  <div class="account-card__amount">
    <span class="amount-main">$3,827</span
    ><span class="amount-decimal">.45</span>
  </div>

  <div class="account-card__footer">
    <div class="account-card__col">
      <span class="label">Available</span>
      <span class="value"> $2,915<span class="value-decimal">.45</span> </span>
    </div>

    <div class="account-card__col">
      <span class="label">Profit / Loss</span>
      <span class="value value--profit">
        + $126<span class="value-decimal">.30</span>
      </span>
    </div>
  </div>
</div>
