<ion-header>
  <app-header-mobile
    [title]="'Page ' + title()"
    [showBack]="!!backPathSegments()?.length"
    [showClose]="true"
    (backClick)="onBack()"
    (closeClick)="dismissOutlet()"
  />
</ion-header>

<ion-content [fullscreen]="true">
  <!--  <div>Outlet: flow{{ outletIndex }}</div>-->
  <!--  <br />-->

  @if (+title() < 4) {
  <ion-button (click)="onNext()">Next page within flow</ion-button>
  }

  <br />

  @if (outletIndex < 3) {
  <ion-button color="warning" (click)="onNewFlow()">Open new flow</ion-button>
  }

  <br />
  <br />

  <app-content-placeholder />
</ion-content>
