<ion-header>
  <!--  <ion-toolbar>-->
  <!--    <ion-buttons slot="start">-->
  <!--      @if (backPathSegments()?.length) {-->
  <!--      <ion-button fill="clear" (click)="onBack()">-->
  <!--        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>-->
  <!--      </ion-button>-->
  <!--      }-->
  <!--    </ion-buttons>-->
  <!--    <ion-title>Page {{ title() }}</ion-title>-->
  <!--    <ion-buttons slot="end">-->
  <!--      <button class="close-button" app-button (click)="dismissOutlet()">-->
  <!--        <app-icon name="close"></app-icon>-->
  <!--      </button>-->
  <!--    </ion-buttons>-->
  <!--  </ion-toolbar>-->
  <app-header-mobile
    [title]="'Page ' + title()"
    [showBack]="!!backPathSegments()?.length"
    [showClose]="true"
    (backClick)="onBack()"
    (closeClick)="dismissOutlet()"
  />
</ion-header>

<ion-content [fullscreen]="true">
  <!--  <div>Outlet: flow{{ outletIndex }}</div>-->
  <!--  <br />-->

  @if (+title() < 4) {
  <ion-button (click)="onNext()">Next page within flow</ion-button>
  }

  <br />

  @if (outletIndex < 3) {
  <ion-button color="warning" (click)="onNewFlow()">Open new flow</ion-button>
  }

  <br />
  <br />

  <app-content-placeholder />
</ion-content>
