<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" />
    </ion-buttons>
    <ion-title>Page {{ title() }}</ion-title>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>Outlet: flow{{ outletIndex }}</div>
  <br />

  @if (+title() < 4) {
  <ion-button (click)="onNext()">Next page within flow</ion-button>
  }

  <br />

  @if (outletIndex < 3) {
  <ion-button color="warning" (click)="onNewFlow()">Open new flow</ion-button>
  }
</ion-content>
