@if (ready()) {
  <ion-modal
    #modal
    [isOpen]="isOpen()"
    [backdropDismiss]="false"
    [canDismiss]="true"
    (didDismiss)="onDidDismiss()"
    [initialBreakpoint]="initialBreakPoint"
    [breakpoints]="[0, initialBreakPoint]"
    [expandToScroll]="false"
    [handle]="true"
    cssClass="flow-modal"
    [class.invisible]="isQuickActionsOpen()"
  >
    <ng-template>
      <ion-router-outlet></ion-router-outlet>
    </ng-template>
  </ion-modal>
}

<!--<div class="search-bar">-->
<!--  <app-icon name="search" [style.&#45;&#45;icon-size]="'20px'"></app-icon>-->
<!--  <input type="text" placeholder="Search or ask anything" />-->
<!--  <app-icon name="profile" [style.&#45;&#45;icon-size]="'20px'"></app-icon>-->
<!--</div>-->
