@if (ready()) {
  <ion-modal
    #modal
    [isOpen]="isOpen()"
    [backdropDismiss]="false"
    [canDismiss]="true"
    (didDismiss)="onDidDismiss()"
    [initialBreakpoint]="initialBreakPoint"
    [breakpoints]="[0, initialBreakPoint]"
    [expandToScroll]="false"
    [handle]="true"
    [showBackdrop]="!(outletIndex === 0 && activeOutletIndex() === 0)"
    cssClass="flow-modal"
    [class.invisible]="isQuickActionsOpen()"
    [class.no-backdrop]="outletIndex === 0 && activeOutletIndex() === 0"
  >
    <ng-template>
      <ion-router-outlet></ion-router-outlet>
    </ng-template>
  </ion-modal>
}
