ion-modal {
  transform-origin: top;
  transition: opacity 0.3s ease-in-out;

  &.invisible {
    opacity: 0;
  }

  // &.no-backdrop {
  //  pointer-events: none;
  //
  //  &::part(backdrop) {
  //    pointer-events: none;
  //  }
  // }
}

.search-bar {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 52px;
  padding: 8px 16px 0;

  .search-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  app-icon {
    flex-shrink: 0;
    color: rgb(255 255 245 / 30%);
  }

  input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255 255 245 / 30%);
    font-size: 14px;

    &::placeholder {
      color: rgb(255 255 255 / 50%);
    }
  }
}
