:host {
  --icon-size: 28px;

  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
}

svg {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  fill: currentcolor;
  stroke: currentcolor;
  stroke-width: 0;
  shape-rendering: geometricprecision;
  text-rendering: geometricprecision;
}
