<ion-tabs>
  <ion-tab-bar slot="bottom">
    @for(tab of tabs; track tab) {
    <ion-tab-button
      [attr.aria-selected]="currentTabIndex() === $index"
      (click)="onTabClick(tab.path, $index)"
    >
      <app-icon [name]="tab.icon"></app-icon>
      <div class="tab-title">{{ tab.name }}</div>
    </ion-tab-button>
    }

    <div class="quick-actions-wrapper">
      <button
        app-button
        (click)="openQuickActions()"
        [style.width.px]="59"
        [style.height.px]="59"
      >
        <app-icon name="fast-actions" [style.color]="'white'"></app-icon>
      </button>
    </div>
  </ion-tab-bar>
</ion-tabs>
