<ion-header [scrolledContentShadow]="contentRef">
  <app-header-mobile [title]="title()" [showBack]="false" [showClose]="false">
    <ion-buttons slot="buttonsEnd">
      <button app-button (click)="onSwitch()">Switch</button>
    </ion-buttons>
  </app-header-mobile>
</ion-header>

<ion-content #contentRef [fullscreen]="true">
  <!--  <div>Outlet: flow{{ outletIndex }}</div>-->

  <br />

  <ion-button color="warning" (click)="onNewFlow()">Open new flow</ion-button>

  <br />
  <br />

  <app-content-placeholder />
</ion-content>
