:host {
  backdrop-filter: blur(50px);
  background: rgb(#050202, 0.5);
  transition:
    backdrop-filter,
    background 0.3s ease-in-out;
}

ion-header {
  background: transparent;
}

.close-button {
  --width: 40px;
  --height: 40px;

  app-icon {
    --icon-size: 10px;
  }
}
