<ion-header>
  <ion-toolbar>
    <ion-title> Blank </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title> Search or ask anything </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (true) {
  <ion-header collapse="condense"
    ><ion-toolbar>
      <ion-title size="large">AI Search</ion-title>
    </ion-toolbar>
  </ion-header>
  }

  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias
    blanditiis consectetur culpa debitis id impedit iste itaque neque nulla.
    Atque corporis ducimus eius eligendi, id odio quisquam vero voluptatem.
  </div>
</ion-content>
