:host {
  backdrop-filter: blur(50px);
  background: rgb(#050202, 0.5);
}

ion-header {
  background: transparent;
  padding: 8px 4px 0;
}

.close-button {
  --width: 40px;
  --height: 40px;

  app-icon {
    --icon-size: 10px;
  }
}
