:host {
  background-color: black;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: top center / contain no-repeat url("/assets/img/BG_LD@2x.jpg");
    width: 100%;
    height: 100%;
  }
}
