ion-app {
  background: black;

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: top center / contain no-repeat url("/assets/img/BG_LD@2x.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

ion-router-outlet#main {
  z-index: 1 !important;
}

app-quick-actions {
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    z-index: -1;
  }
}
