<div class="grid-container" (click)="onClose()">
  <div class="action-card card-1">
    <app-icon name="action" [style.--icon-size]="'18px'"></app-icon>
    <span class="action-text">Action</span>
  </div>
  <div class="action-card card-2">
    <app-icon name="action" [style.--icon-size]="'18px'"></app-icon>
    <span class="action-text">Action</span>
  </div>
  <div class="action-card card-3">
    <app-icon name="action" [style.--icon-size]="'18px'"></app-icon>
    <span class="action-text">Action</span>
  </div>
  <div class="action-card card-4">
    <app-icon name="action" [style.--icon-size]="'18px'"></app-icon>
    <span class="action-text">Action</span>
  </div>
  <div class="action-card card-5">
    <app-icon name="action" [style.--icon-size]="'18px'"></app-icon>
    <span class="action-text">Action</span>
  </div>
  <div class="action-card card-6">
    <app-icon name="action" [style.--icon-size]="'18px'"></app-icon>
    <span class="action-text">Action</span>
  </div>
</div>

<div class="footer">
  <div class="close-button-wrapper">
    <button
      class="close-button"
      app-button
      (click)="onClose()"
      [style.width.px]="59"
      [style.height.px]="59"
    >
      <app-icon name="close" [style.color]="'white'"></app-icon>
    </button>
  </div>
</div>
