:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  backdrop-filter: blur(50px);
  background-color: rgb(#050202, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 120px);
  gap: 12px;
  padding: 16px;
  min-height: 0;
}

.action-card {
  border-radius: 30px;
  background: rgb(255 255 255 / 8%);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  color: white;
}

.action-card app-icon {
  color: white;
}

.action-text {
  font-size: 14px;
  font-weight: 500;
  margin-top: auto;
}

.card-1 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.card-2 {
  grid-column: 3;
  grid-row: 1 / 3;
}

.card-3 {
  grid-column: 1 / 3;
  grid-row: 2;
}

.card-4 {
  grid-column: 1;
  grid-row: 3;
}

.card-5 {
  grid-column: 2;
  grid-row: 3;
}

.card-6 {
  grid-column: 3;
  grid-row: 3;
}

.footer {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-button-wrapper {
  padding: 0 16px;
}

.close-button {
  .icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  app-icon {
    --icon-size: 14px;
  }
}
