<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>

    @if (showCloseButton()) {
    <ion-buttons slot="end">
      <button class="close-button" app-button (click)="onClose()">
        <app-icon name="close"></app-icon>
      </button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="scrollable-container" #scrollableContainer>
    <div class="card-stack">
      <div class="card-stack__layer">
        @for (card of cards; track card.id; let index = $index) {
        <div
          class="card"
          [style]="cardStyles[index]"
          (click)="onCardClick(card)"
        >
          <div class="card-content">
            <h2>{{ card.title }}</h2>
          </div>
        </div>
        }
      </div>

      <div class="card-stack__spacer" [style.height.px]="spacerHeight"></div>
    </div>
  </div>
</ion-content>
