<ion-header>
  <ion-toolbar>
    <ion-title> </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="carousel-wrapper">
    <div class="carousel-container">
      @for (card of cards; track card.id; let i = $index) {
      <div
        class="card"
        [style]="getCardStyle(i)"
        (click)="onCardClick(card)"
      >
        <div class="card-content">
          <h2>{{ card.title }}</h2>
        </div>
      </div>
      }
    </div>
  </div>
</ion-content>

