/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */

/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.ion-page {
  --ion-toolbar-color: white;
}

ion-modal {
  .ion-page {
    background: black;
  }
}

ion-header {
  &.header-md {
    box-shadow: none;
  }

  background: black;
}

ion-toolbar {
  --background: transparent;

  &::part(background) {
    --border-width: 0;
  }
}

ion-tab-bar {
  --background: transparent;
  --color: white;
  --background-focused: grey;
}

ion-tab-button {
  &[aria-selected="true"] {
    color: grey;
  }
}

ion-content {
  --ion-background-color: transparent;
  --ion-text-color: white;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --overflow: hidden;
}

ion-modal {
  --border-radius: 2rem;
  --background: transparent !important;
  --backdrop-opacity: 0;

  ion-content {
    --background: black;
  }
}
